/* Hangman */

table, th, td, tr {
    padding: 5px;
  }

#gameStart {
    position: relative;
    right: 0;
    top: 0;
    margin: auto;
    width: 100%;
    height: auto;
    text-align: center;
    color: black;
    background-color: blanchedalmond;
}

.hangman {
    padding: 25px;
    color: #777777;
    background-color: #ffffff;
    border-color: #dddddd;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    height: 500px;
}

.centerTable {
    margin: 5px auto;
    text-align: center;
}

.leftTable {
    float: left;
    margin: 5px auto;
    text-align: left;
    min-width: 150px;
}

.rightTable {
    float: right;
    margin: 5px auto;
    text-align: left;
    min-width: 150px;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h4 {
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #E8900C;
}

.centerMessage {
    margin: 150px auto;
    padding: 20px;
}